extends ../layouts/layout

block content
  .container
  h2= title
  p Para adicionar recursos, faça upload de um SIP em <a href="/admin/resources/import">Importar SIP</a>.
  ul.resource-list
    each r in resources
      li.resource-item.card
        | #{r.filename} — público? #{r.public}
        form.form.form(data-ajax, method="post", action=`http://localhost:3001/api/admin/resources/${r._id}`, style="display:inline")
          input.form-control(type="hidden", name="_method", value="DELETE")
          button.btn(type="submit") 🗑️
        form.form.form(method="post", action=`http://localhost:3001/api/admin/resources/${r._id}/export`, style="display:inline")
          button.btn(type="submit") 📦 Exportar
        form.form.form(data-ajax, method="post", action=`http://localhost:3001/api/admin/resources/${r._id}/public`, style="display:inline")
          input.form-control(type="hidden", name="_method", value="PATCH")
          button.btn(type="submit") Tornar #{r.public ? 'Privado' : 'Público'}
  p: a.nav-link(href="/admin") Voltar